hydra:
  run:
    dir: ${cache_path}/${task}/${model.path}/${dataset}/${now:%Y-%m-%d}/${now:%H-%M-%S}

defaults:
  - model: mistral-instruct-v2

task: bio
dataset: ['llm-uncertainty-head/train_akimbio_mistral']
text_column: question
eval_split: test
load_from_disk: false
subsample_eval_dataset: -1
use_claim_ue: true

generation_metrics: [{
  'name': 'OpenAIFactCheck',
  'args': {},
  'kwargs': {'n_threads': 16, 'openai_model': 'gpt-4o'}
}]

estimators:
  - name: RandomBaselineClaim
  - name: MaximumClaimProbability
  - name: ClaimConditionedProbabilityClaim
    cfg:
      nli_context: "fact_pref"
  - name: MaxTokenEntropyClaim
  - name: PerplexityClaim
  - name: luh.builder_LuhClaimEstimatorDummy

stat_calculators:
  - auto
  - name: ClaimExtractor
    builder: lm_polygraph.defaults.stat_calculator_builders.default_ClaimsExtractor
    cfg:
      openai_model: "gpt-4o"
      cache_path: "./workdir/cache"
      language: "en"
      n_threads: 16
    stats: 
      - "claims"
      - "claim_texts_concatenated"
      - "claim_input_texts_concatenated"
    dependencies:
      - "greedy_texts"
      - "greedy_tokens"
  - name: Luh
    builder: luh.builder_CalculatorInferLuh
    cfg:
      predict_token_uncertainties: false
      uq_head_path: llm-uncertainty-head/uqhead_Mistral-7B-Instruct-v0.2
      args_generate:
        max_new_tokens: 256
      generations_cache_dir: ""
    dependencies:
    stats:
      - "input_texts"
      - "input_tokens"
      - "hidden_states"
      - "greedy_log_probs"
      - "greedy_logits"
      - "greedy_tokens"
      - "greedy_texts"
      - "greedy_log_likelihoods"
      - "greedy_tokens_alternatives"
      - "uhead_features"
  - name: luh_claim
    builder: luh.builder_CalculatorApplyUQHead
    cfg:
    dependencies:
      - "claims"
      - "uhead_features"
    stats:
      - "uncertainty_claim_logits"

max_new_tokens: 256
ignore_exceptions: false
language: en
batch_size: 1
seed:
    - 1
cache_path: ./workdir/cache
save_path: '${hydra:run.dir}'
report_to_wandb: true

n_threads: 16
log_time: true
